body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: sans-serif;
}

.app__nav {
  margin: 0 0 40px 0;
  padding: 10px 20px;
  background: #f0f0f0;
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.app__link {
  padding: 0 10px;
}
